.main{
  display: flex;
  flex-wrap:wrap;
  background-color: rgb(24, 23, 23);
  color: rgb(192, 196, 198);
  min-height: 100vh;
  padding: 0.4%;
  cursor: pointer;
}

.imageEase{
  background-color: rgb(54, 59, 63);
  padding: 2%;
  height: 100%;
  margin-left:2% ;
}

.imageEase:hover{
  transform: translateX(4px);
  box-shadow: 4px 4px 4px 4px rgb(49, 49, 49);
}